@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .ease-ease {
    transition-timing-function: ease !important;
  }

  :root {
    --radius: 10px;
    
  }
  * {
    @apply border-border dark:border-gray-7;
     
  }
  body {
    @apply overflow-x-clip bg-white dark:bg-background text-foreground selection:bg-violet-400/30;
  }

  .font-display {
    font-variation-settings: "opsz" 32 ;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-display;
  }
}

@layer components{
  
.gradient {
  z-index: -1;
  width: 100vw;
  min-width: 1500px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  top: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-image: radial-gradient(
      circle 800px at 700px 200px,
      rgb(var(--purple2)),
      var(--transparent)
    ),
    radial-gradient(
      circle 600px at calc(100% - 300px) 300px,
      rgb(var(--mint2)),
      var(--transparent)
    ),
    radial-gradient(
      circle 800px at right center,
      rgb(var(--sky3)),
      var(--transparent)
    ),
    radial-gradient(
      circle 800px at right bottom,
      rgb(var(--sky1)),
      var(--transparent)
    ),
    radial-gradient(
      circle 800px at calc(50% - 600px) calc(100% - 100px),
      rgb(var(--violet3)),
      rgb(var(--violet1)),
      var(--transparent)
    );
  --transparent: #fdfcfd00;
}
}
 

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.tippy-box[data-animation='fade'][data-state='hidden'] {
  opacity: 0; 
}


.tippy-box[data-animation='fade'][data-state='visible'] {
  opacity: 100;
}

p a {
  @apply underline underline-offset-2;
  }
  .tiptap .is-empty::before {
    content: attr(data-placeholder);
    float: left;
    pointer-events: none;
    height: 0;
    @apply text-gray-9;
  }



 
 
 /* =========================== */

.ProseMirror .is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  float: left; 
  pointer-events: none;
  height: 0;
  @apply text-gray-9;
}
.ProseMirror .is-empty::before {
  content: attr(data-placeholder);
  float: left; 
  pointer-events: none;
  height: 0;
  @apply text-gray-9;
}

/* Custom image styles */

.ProseMirror img {
  transition: filter 0.1s ease-in-out;


}

.ProseMirror img:hover {
  cursor: pointer;
  filter: brightness(90%);
}


.ProseMirror img.ProseMirror-selectednode {
  outline: 3px solid #5abbf7;
  filter: brightness(90%);
}

/* Table-specific styling */
.tiptap table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
  margin: 0;
  overflow: hidden;
}
.tiptap table td, .tiptap table th {
  @apply border border-gray-4;
  min-width: 1em; 
  padding: 3px 5px;
  vertical-align: top;
  box-sizing: border-box;
  position: relative;
}
.tiptap table td > *, .tiptap table th > * {
  margin-bottom: 0;
}
.tiptap table th {
  font-weight: bold;
  text-align: left;
  background-color: #f5f5f5;
}
.tiptap table .selectedCell:after {
  z-index: 2;
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(200, 200, 255, 0.4);
  pointer-events: none;
}
.tiptap table .column-resize-handle {
  position: absolute;
  right: -2px;
  top: 0;
  bottom: -2px;
  width: 4px;
  z-index: 100;
  background-color: #adf;
  pointer-events: none;
}
.tableWrapper {
  overflow-x: auto;
}
.resize-cursor {
  cursor: ew-resize;
  cursor: col-resize;
}

[data-radix-scroll-area-viewport] {
  @apply  scroll-mt-[20px]
}